<div class="container">
    <div class="container">
        <!-- <div class="col">
            <div class="row text-center">
                <p>Upload Model</p>
            </div>
            <div class="row-sm-1 text-center">
                <button class="btn btn-primary">Upload</button>
            </div> -->
        <div class="col">
                <div class="row mt-5">
                    <h2 class="d-flex justify-content-center">Community</h2>
                    <p class="d-flex justify-content-center">Ideas of the Open World</p>
                </div>
                <div class="row">
                        <div class="col mt-3">
                            <button class="btn btn-warning"> Search </button>
                        </div>
                        <div class="col-sm-2">
                            <div class="row-sm-1 mb-2">
                                <button class="btn btn-primary">Upload Model</button>
                            </div>
                            <div class="row-sm-2">
                                <div class="btn-group" role="group" aria-label="buttongrp-top">
                                    <button class="btn btn-outline-secondary">List</button>
                                    <button class="btn btn-outline-secondary">Gallery</button>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
            <div class="container border p-3 mt-5">
                <div class="container" style="background-color: gray;">
                    <p>Content</p>
                </div>
            </div>
    </div>
</div>
