<div class="border border-dark container-fluid p-3 mt-3" style="background-color: #363636; color: white; border-radius: 2%; width: 75%;">
    <h3 mat-dialog-title>Upload Model</h3>
    <p class="mt-3">Please enter the model title and also click browse to upload custom 3D models (upload zip files only) (Supported File Formats: GLTF only)</p>
    <div class="row">
        <div class="col-xl-0 mt-3">
            <input type="file" class="form-control" placeholder="Browse Models" aria-describedby="basic-addon2" (change)="onChange($event)" accept=".zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed">
        </div>
        <div class="col mt-3">
            <!-- <input class="form-control" type="file" (change)="onChange($event)"> -->
            <button mat-dialog-close class="btn btn-success" (click)="onUpload()">Upload</button>
        </div>
        <div class="col mt-3" *ngIf="loading">
            <p>Uploading</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button mat-dialog-close class="btn btn-outline-warning mt-3" routerLink="/">Back To Home</button>
        </div>
    </div>
</div>
